{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Grow your Flock of {{ chosenAnimal }}</h1>

        <div>
            <div class="flock" id="flock">
                {{ chosenAnimal }}
            </div>
            <button class="js-grow-flock">Grow my flock!</button>
        </div>
        <hr>
        Change animal:
        {% for animal in animals %}
            {% if animal == chosenAnimal %}
                {{ animal }}
            {% else %}
                <a href="{{ path('app_homepage', {
                    animal: animal
                }) }}">{{ animal }}</a>
            {% endif %}
        {% endfor %}

        {{ form_start(form) }}
            or custom
            <input
                name="{{ field_name(form.animal) }}"
                value="{{ field_value(form.animal) }}"
                class="{{ field_errors(form.animal)|length > 0 ? 'has-error' }}"
            />

            <button type="submit" style="font-size: 1em;" formnovalidate>🦖</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
